

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Regular.otf");
}

@font-face {
  font-family: "ACaslonPro-Bold";
  src: url("../fonts/ACaslonPro-Bold.otf");
}

@font-face {
  font-family: "AkzidenzGroteskBE-BoldCn";
  src: url("../fonts/AkzidenzGroteskBE-BoldCn.otf");
}

@font-face {
  font-family: "montefiore-regular-condensed";
  src: url("../fonts/montefiore-regular-condensed.otf");
}

* {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: black;
  color: #f8f8f8;
  height: 100%;
  line-height: 150%;
}

img {
  width: 100%;
}

.main {
  display: block;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

.container {
  width: 70%;
  min-width: 300px;
  margin: 0 auto;
  display: block;
  /* height: 100%; */
  padding: 120px 60px;
}

.row {
  display: block;
  clear: both;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  margin: 0 2.5%;
  float: left;
}

.col-5 {
  width: 95%;
}

.col-4 {
  width: 75%;
}

.col-3 {
  width: 55%;
}

.col-2 {
  width: 35%;
}

.col-1 {
  width: 15%;
}

.offset-1 {
  margin-left: 20%;
}

.offset-2 {
  margin-left: 40%;
}

.navbar {
  position: absolute;
  top: 70px;
  background-color: #13110C;
  display: block;
  width: 100%;
  text-align: center;
  color: #67625E;
  z-index: 1000;
  /* font-weight: bolder; */
  /* font-size: 1.2em; */
}

.navbar .container {
  padding: 12px 20px;
  display: block;
  width: 70%;
  margin: 0 auto;
}

.navbar ul.nav li.nav-item {
  cursor: pointer;
  width: -webkit-calc((100% - 40px) / 9);
  width: calc((100% - 40px) / 9);
  display: inline-block;
  text-transform: uppercase;
  /* line-height: 2rem; */
  /* vertical-align: middle; */
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
}

.navbar ul.nav li.nav-item.icon {
  /* font-size: 2rem; */
}

.navbar ul.nav li.nav-item:hover,
.navbar ul.nav li.nav-item.active {
  color: #f8f8f8;
}



.navbar ul.nav li.nav-item.logo i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  /* font-size: 2.5rem; */
}

.group {
  position: relative;
  display: block;
}

.group:nth-child(even) {
  background-color: #f8f8f8;
  color: #090909;
}

.group-full {
  height: 100%;
  min-height: 620px;
}

.group-logo {
  text-align: center;
}

.group-logo img#logo {
  margin-top: 10em;
  /* display: block; */
  /* margin: 5em auto; */
  width: 50%;
  min-width: 300px;
}

.group-logo h3#slogan {
  color: #343533;
  /* font-size: 1.25em; */
  font-weight: bolder;
  /* text-transform: uppercase; */
  position: absolute;
  bottom: 2em;
  display: block;
  text-align: center;
  width: 100%;
}

/* .carousel-item { */

/*   display: block; */

/*   margin: 0 auto; */

/* } */

.blog-preview img {
  width: 250px;
  height: 250px;
}

.blog-preview-description {
  position: absolute;
  top: 0;
  left: 0;
  color: #f8f8f8;
  width: -webkit-calc(250px - 2rem);
  width: calc(250px - 2rem);
  height: -webkit-calc(250px - 2rem);
  height: calc(250px - 2rem);
  background-color: #13110C;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .15s;
  transition-duration: .15s;
  padding: 1rem;
}

.blog-preview-description:hover {
  opacity: .85;
}

.blog-preview-date {
  font-weight: bolder;
}

.blog-preview-title {
  line-height: 100%;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1em;
}

.blog-preview-text {
  margin-bottom: 2em;
}

.read-more {
  font-weight: bolder;
  text-transform: uppercase;
}

.read-more:after {
  content: "read more";
}

a.read-more {
  color: #f8f8f8;
  text-decoration: none;
}

a.read-more:hover {
  text-decoration: underline;
}

.blog-preview-description .blog-preview-title {
  height: 4em;
  margin-top: 1em;
}

.blog-preview-description .read-more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.blog-preview-img {
  width: 100%;
}

.group-contact {
  /* line-height: 200%; */
}

/* .slick-prev, */

/* .slick-next { */

/*   background: none; */

/*   border: none; */

/*   cursor: pointer; */

/* } */

.header {
  margin-bottom: 2em;
}

.group-about p {
  line-height: 115%;
  font-size: 1.1em;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  /* font-weight: lighter; */
}

form .input {
  background-color: transparent;
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #090909;
}

/* MOBILE */

@media only screen and (max-width: 767px) {
  .container {
    margin: 0 auto;
    padding: 0;
    padding-top: 2em;
    width: 90%;
  }

  .col-2,
  .col-3,
  .col-4 {
    width: 100%;
    margin: 0 0 2rem 0;
  }

  [class*='offset-'] {
    margin-left: 0;
  }

  .navbar {
    background-color: white;
    display: none;
  }

  .header {
    margin-bottom: .8em;
  }
}